<div class="bh2e-prayers-tab bh2e-tab-content bh2e-hidden">
{{#hasPrayers}}
    <h3 class="bh2e-magic-level-title">{{localize "bh2e.tabs.titles.level1"}}</h3>
    <hr>
    {{#prayers}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers}}
{{/hasPrayers}}
</div>
