<div class="bh2e-spells-tab bh2e-tab-content bh2e-hidden">
{{#hasPrayers}}
    <h3 class="bh2e-magic-level-title">Prayers</h3>
    <hr>
    {{#prayers}}
        {{> "systems/bh2e/templates/partials/prayer-entry.hbs"}}
    {{/prayers}}
{{/hasPrayers}}
</div>
