<div class="bh2e-spells-tab bh2e-tab-content bh2e-hidden">
{{#hasSpells}}
    <!--<a class="bh2e-action-link bh2e-cast-magic-as-ritual-icon" href="#" title="{{localize "bh2e.fields.titles.castSpellAsRitual"}}">
                <i class="fas fa-book-reader"></i>
    </a>-->
    {{#spells1}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells1}}
{{/hasSpells}}
</div>
