<div class="bh2e-spells-tab bh2e-tab-content bh2e-hidden">
{{#hasSpells}}
    <h3 class="bh2e-magic-level-title">Spells</h3>
    <hr>
    {{#spells}}
        {{> "systems/bh2e/templates/partials/spell-entry.hbs"}}
    {{/spells}}
{{/hasSpells}}
</div>
